<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}"
          href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
          type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}"
          href="/static/css/sb-admin-2.min.css" rel="stylesheet">
    <div layout:fragment="style_css"></div>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul
            class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
            id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a
                class="sidebar-brand d-flex align-items-center justify-content-center"
                href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Sistema de compras</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <div layout:fragment="item_menu">
            <!-- Nav Item - Dashboard -->

            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <li class="nav-item"><a class="nav-link" th:href="@{/admin/requisicionAdmin}"> <i
                        class="fas fa-fw fa-tachometer-alt"></i> <span>Requisiciones</span>
                </a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/admin/movimientoInventario}"> <i
                        class="fas fa-fw fa-tachometer-alt"></i> <span>Movimiento Inventario</span>
                </a></li>
            </div>
            <div sec:authorize="hasRole('ROLE_JEFE')">
                <li class="nav-item"><a class="nav-link" th:href="@{/jefe/requisicion}"> <i
                        class="fas fa-fw fa-tachometer-alt"></i> <span>Requisiciones</span>
                </a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/jefe/ordenesDeCompras}"> <i
                        class="fas fa-fw fa-tachometer-alt"></i> <span>Ordenes De Compra</span>
                </a></li>
            </div>
            <div sec:authorize="hasRole('ROLE_EMPLEADO')">
                <li class="nav-item"><a class="nav-link" th:href="@{/empleado/requisicionAprobada}"> <i
                        class="fas fa-fw fa-tachometer-alt"></i> <span>Requisiciones</span>
                </a></li>
            </div>
            <div sec:authorize="hasRole('ROLE_PROVEEDOR')">
                <li class="nav-item"><a class="nav-link" th:href="@{/proveedor/ProductoProveedor}"> <i
                        class="fas fa-fw fa-tachometer-alt"></i> <span>Gestión de productos</span>
                </a></li>
            </div>
            <div sec:authorize="hasRole('ROLE_BODEGUERO')">
                <li class="nav-item"><a class="nav-link" th:href="@{/bodega/remisiones}"> <i
                        class="fas fa-fw fa-tachometer-alt"></i> <span>Notas de remision</span>
                </a></li>
            </div>

        </div>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav
                    class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop"
                        class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <div class="topbar-divider d-none d-sm-block"></div>
                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow"><a
                            class="nav-link dropdown-toggle" href="#" id="userDropdown"
                            role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"> <span
                            class="mr-2 d-none d-lg-inline text-gray-600 small">[[${#httpServletRequest.remoteUser}]]</span>
                        <i class="fas fa-sign-out-alt"></i>
                    </a> <!-- Dropdown - User Information -->
                        <div
                                class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#" data-toggle="modal"
                               data-target="#logoutModal"> <i
                                    class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div layout:fragment="main_content" class="container-fluid"></div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Sistema de Compras 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top"> <i
        class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cerrar Sesión</h5>
                <button class="close" type="button" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Seleccione "Cerrar Sesión" si está seguro que desea cerrar la sesión.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button"
                        data-dismiss="modal">Cancel
                </button>
                <form th:action="@{/logout}" method="post">
                    <input class="btn btn-primary" type="submit" value="Cerrar Sesión"/>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"
        src="/static/vendor/jquery/jquery.min.js"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"
        src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"
        src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"
        src="/static/js/sb-admin-2.min.js"></script>
<div layout:fragment="style_js"></div>

</body>

</html>