<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{base}">
<head>
	<title>Ver Producto</title>
	<div layout:fragment="style_css">
		<!-- Aqui va el codigo CSS extra que se quiera agregar -->
	</div>
</head>
<body>
	<div layout:fragment="item_menu">
		<!-- Aqui van las opciones del menu lateral -->
		<!-- Nav Item - Dashboard -->
		<li class="nav-item"><a class="nav-link" href="index.html"> <i
				class="fas fa-fw fa-tachometer-alt"></i> <span>Dashboard</span>
		</a></li>
		<li class="nav-item"><a class="nav-link" href="index.html"> <i
				class="fas fa-fw fa-tachometer-alt"></i> <span>Dashboard</span>
		</a></li>
	</div>

	<div align="center">
		<h1>Ver Producto</h1>
		<br>
		<div th:object="${productoProveedor}">
			<div>
				<table class="separado" border="1">
		<tr>
			<td><p>Nombre del producto:</p></td>
			<td><p class="p-2" th:text="${productoProveedor.nombreProductoProveedor}"
				th:value="${productoProveedor.nombreProductoProveedor}"></p></td>
		</tr>

		<tr>
			<td><p>Periodo de gracia:</p></td>
			<td><p class="p-2" th:text="${productoProveedor.periodoDeGracia}"
				th:value="${productoProveedor.periodoDeGracia}"></p></td>
		</tr>

		<tr>
			<td><p>Descuento:</p></td>
			<td><p class="p-2" th:text="${productoProveedor.descuento}"
				th:value="${productoProveedor.descuento}"></p></td>
		</tr>

		<tr>
		<td><p>Nuemero de existencia:</p>
		<td><p class="p-2" th:text="${productoProveedor.numExistencia}"
				th:value="${productoProveedor.numExistencia}"></p>
		</tr>

		<tr>
		<td><p>Cantidad de existencia:</p>
		<td><p class="p-2" th:text="${productoProveedor.cantidadExistencia}"
				th:value="${productoProveedor.cantidadExistencia}"></p>
		</tr>

		<tr>
		<td><p>Fecha de inicio de promocion:</p>
		<td><p class="p-2" th:text="${productoProveedor.fechaVigenciaInicio}"
				th:value="${productoProveedor.fechaVigenciaInicio}"></p>
		</tr>

		<tr>
		<td><p>Fecha de final de promocion:</p>
		<td><p class="p-2" th:text="${productoProveedor.fechaVigenciaFinal}"
				th:value="${productoProveedor.fechaVigenciaFinal}"></p>
		</tr>

		<tr>
		<td><p>Unidad:</p>
		<td><p class="p-2" th:text="${productoProveedor.unidad}"
				th:value="${productoProveedor.unidad}"></p>
		</tr>
			</div>

		</div>
	</div>
</body>
</html>