<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title>Ver orden de compra</title>
    <div layout:fragment="style_css">
        <!-- Aqui va el codigo CSS extra que se quiera agregar -->
    </div>
</head>

<body>

<div layout:fragment="main_content">
    <!-- Aqui va el contenido principal -->
    <div class="row">
        <div class="col-xl-12">
            <div
                    class="card py-3 my-3 shadow-sm d-flex flex-row align-items-center justify-content-between">
                <div class="col mr-2 text-dark">
                    <h2>Ver orden de compra</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="card shadow-sm my-3 py-3">
                <div
                        class="table-responsive-lg table-responsive-sm table-responsive-md col-xl-12 col-md-12 col-sm-12">
                    <!-- ESCRIBIR CODIGO AQUÍ -->
                    <div class="d-flex flex-row">
                        <p><strong>Proveedor:</strong>
                            <span class="p-2"
                                  th:text="${detalleOrdenDeCompra.get(0).getIdOrdenDeCompra().getIdProveedor().getNombreProveedor() + ' ' + detalleOrdenDeCompra.get(0).getIdOrdenDeCompra().getIdProveedor().getApellidoProveedor()}"></span>
                        </p>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Cantidad</th>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Importe</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div th:with="i=0">
                            <tr th:each="detalle : ${detalleOrdenDeCompra}">
                                <div th:with="i=${i+1}">
                                    <td th:text="${i}"></td>
                                    <td th:text="${detalle.getCantidad()}"></td>
                                    <td th:text="${detalle.idProductoProveedor.nombreProductoProveedor}"></td>
                                    <td th:text="'$ ' + ${detalle.getPrecio()}"></td>
                                    <td th:text="'$ ' + ${detalle.getPrecio() * detalle.getCantidad()}"></td>
                                </div>
                            </tr>
                        </div>
                        </tbody>
                    </table>
                    <div class="d-flex flex-row">
                        <p><strong>Total:</strong>
                            <span class="p-2"
                                  th:text="'$ ' + ${detalleOrdenDeCompra.get(0).getIdOrdenDeCompra().getTotalCompra()}"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="style_js">
    <!-- Aqui va el contenido JS extra -->
</div>

</body>
</html>